// width x height
@mixin size-wh($width, $height) {
  width: $width;
  height: $height;
}

@mixin size-square($size) {
  width: $size;
  height: $size;
}

@mixin size-circle($size) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
}
