////////////////////////////////////////////
// hover時に対象背景に円形のcoverをかける
// sizeは必ずpx単位で指定して下さい。
// &-cover
////////////////////////////////////////////
@mixin anmation-background-radius-cover($size, $color, $opacity: 1) {
  &-cover {
    position: relative;
    opacity: $opacity;
    background-color: $color;
    @include transition(all 300ms);
    @include size-circle(0);
    @include pos-tl(50%, 50%);
  }
  &:hover > &-cover {
    @include size-circle($size);
    @include pos-tl(0, 0);
  }
}

@mixin anmation-background-radius-cover-out($size, $color, $opacity: 1) {
  &-cover {
    position: relative;
    opacity: $opacity;
    background-color: $color;
    @include transition(all 300ms);
    @include size-circle($size);
    @include pos-tl(0, 0);
  }
  &:hover > &-cover {
    @include size-circle(0);
    @include pos-tl(50%, 50%);
  }
}
