@mixin animation-hover-extension(
  $parent-width,
  $parent-height,
  $width,
  $height
) {
  $margin-top-buttom: ($parent-width - $width) / 2;
  $margin-left-right: ($parent-height - $height) / 2;

  // 親要素
  position: relative;
  @include size-wh($parent-width - $margin-top-buttom * 2, $parent-height - $margin-left-right * 2);
  padding: $margin-top-buttom $margin-left-right;
  @include transition(all 300ms);

  &:hover {
    @include size-wh($parent-width, $parent-height);
    padding: 0;
  }

  // コンテンツ
  &-content {
    position: absolute;
    @include pos-lt($margin-left-right, $margin-top-buttom);
    @include size-wh($width, $height);
    @include transition(all 300ms);
  }
  &:hover > &-content {
    @include pos-lt(0, 0);
    @include size-wh($parent-width, $parent-height);
  }
}

@mixin animation-hover-extension-radius(
  $parent-width,
  $parent-height,
  $width,
  $height
) {
  @include animation-hover-extension($parent-width, $parent-height, $width, $height);
  // コンテンツ
  &-content {
    border-radius: $height / 2;
  }
  &:hover > &-content {
    border-radius: $parent-height / 2;
  }
}


@mixin animation-hover-inner-extension(
  $width,
  $height,
  $hover-width,
  $hover-height
) {
  // 親要素
  position: relative;
  overflow: hidden;
  @include size-wh($width, $height);
  @include transition(all 300ms);

  // コンテンツ
  &-content {
    position: absolute;
    @include pos-lt(0, 0);
    @include size-wh($width, $height);
    @include transition(all 300ms);
  }
  &:hover > &-content {
    @include pos-lt(($width - $hover-width) / 2, ($height - $hover-height) / 2);
    @include size-wh($hover-width, $hover-height);
  }
}
